# Ignore everything except custom weapon files
# Will also add exceptions for any scripts when that comes along

*
!configs
!configs/customweapons
!configs/customweapons/*.cfg
!scripting
!scripting/tf2rb_*.sp
!LICENSE
!README.MD
!.gitignore